.tooltip-toggle {
  .icon-icon-question {
    cursor: pointer;
    margin-left: 0.2rem;
    display: inline-block;
    width: pxtorem(22px);
    height: pxtorem(22px);
    border-radius: 50%;
    background-image: url(../../../assets/images/help.svg);
    background-repeat: no-repeat;
  }
}
