@import "src/variables";
.solar-ut-component {
  display: flex;
  padding: 4rem 0;
  box-sizing: border-box;
  .solar-ut-image {
    flex-basis: 25%;
    .round-image {
      max-width: 100%;
    }
  }
  .solar-user-words {
    flex-basis: 69%;
  }
}
@media screen and(max-width: 812px){
  .solar-ut-component {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    .solar-user-words {
      flex-basis: 75%;
    }
  }
}
@media screen and(max-width: 476px){
  .solar-ut-component {

    padding: 2rem 1rem;
  }
}
