@import "src/variables";
footer {
  background-color: $sc_secondary;
  height: $footer_height;
}
.footer__info {
  display: flex;
  max-width: $max_width;
  width: 100%;
  margin: 0 auto;
}

.footer__info-item {
  margin: 0 .625rem;
}
.footer__info-item__summary {
  text-align: center;
  width: 100%;
  h3 {
    font-size: pxtorem(22px);
    color: $sc_white;
    line-height: pxtorem(45px);
  }
  p, a {
    font-size: pxtorem(19px);
    max-width: pxtorem(645px);
    margin: 0 auto;
    line-height: pxtorem(31px);
    color: $fc_reverse_link;
  }
}

@media screen and (max-width: 812px) {
  .footer__info-item__summary {
    h3 {
      font-size: pxtorem(18px);
      line-height: pxtorem(25px);
    }
    p, a {
      font-size: pxtorem(15px);
      line-height: pxtorem(20px);
    }
  }
}
