@import "src/variables";
footer {
  background-color: $sc_secondary;
  height: $footer_height;
  padding-top: 5rem;
  .footer {
    background-color: $sc_secondary;
  }
  .pt-footer-logos {
    display: flex;
    max-width: pxtorem(750px);
    margin: 0 auto;
    .pt-footer-logo-item {
      display: flex;
      align-items: center;
      .pt-choice-logo-img {
        width: pxtorem(154px);
      }
      .sq-logo-img {
        width: pxtorem(250px);
        margin-left: pxtorem(56px);
      }
    }

  }
}
.pt-footer__info {
  display: flex;
  flex-direction: column;
  max-width: $max_width;
  width: 100%;
  margin: 0 auto;
}

.pt-footer__info-item {
  margin: 0 .625rem;
}
.pt-footer__info-item__summary {
text-align: center;
  max-width: pxtorem(645px);
  margin: 0 auto;
  h3 {
    font-size: pxtorem(22px);
    color: $sc_white;
    line-height: pxtorem(45px);
  }
  p, a {
    font-size: pxtorem(19px);
    line-height: pxtorem(31px);
    color: $fc_reverse_link;
  }
}

@media screen and (max-width: 812px) {
  footer {
    padding-top: 2rem;
    height: $footer_height_mobile;
    .pt-l-constrained {
      padding: 0 1rem;
    }
    .pt-footer-logos {
      .pt-footer-logo-item {
        .pt-choice-logo-img {
          width: pxtorem(108px);
        }
        .sq-logo-img {
          width: pxtorem(175px);
          margin-left: pxtorem(36px);
        }
      }
    }
  }

  .pt-footer__info-item__summary {
    h3 {
      font-size: pxtorem(22px);
      line-height: pxtorem(28px);
    }
    p, a {
      font-size: pxtorem(19px);
      line-height: pxtorem(31px);
    }
  }
}
