@import "src/variables";
footer {
  background-color: $sc_secondary;
  height: $footer_height;
}
.footer__info {
  display: flex;
  max-width: $max_width;
  width: 100%;
  margin: 0 auto;
}

.footer__info-item {
  margin: 0 .625rem;
}
.footer__info-item__summary {
  text-align: center;
  width: 100%;
  h3 {
    font-size: 22px;
    color: $sc_white;
    line-height: 45px;
  }
  p, a {
    font-size: 19px;
    max-width: 645px;
    margin: 0 auto;
    line-height: 31px;
    color: $fc_reverse_link;
  }
}

@media screen and (max-width: 812px) {
  .footer__info-item__summary {
    h3 {
      font-size: 18px;
      line-height: 25px;
    }
    p, a {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
