<footer role="contentinfo">
  <section class="footer">

    <div class="l-constrained l-pad-x2-lt-med">
      <div class="footer__info">
        <div class="footer-logos footer__info-item">
          <div class="footer-logo-item">
            <a href="https://www.choice.com.au/">
              <img src="./assets/images/choice-logo-new-white.svg" class="choice-logo-img" alt="CHOICE logo">
            </a>
          </div>
          <div class="footer-logo-item">
            <a href="https://www.solarquotes.com.au/">
              <img src="./assets/images/sq_logo-navy@2x.png" class="sq-logo-img" alt="Solar-Quotes logo">
            </a>
          </div>
        </div>
        <div class="footer__info-item footer__info-item__summary">
          <h3>Why CHOICE has partnered with SolarQuotes</h3>
          <p>We've partnered with SolarQuotes to help you find the right solar installer for you. While we make money if you get a quote through SolarQuotes, this doesn't influence our rankings. 100% of the money we make goes straight back into our <a href="https://www.choice.com.au/about-us/how-choice-is-run">nonprofit mission.</a></p>
        </div>
      </div>

    </div>
  </section>
</footer>
