<div class="solar-qanda-component">
  <div class="solar-qanda-title">
    <h1>Frequently asked questions</h1>
  </div>
  <div class="solar-qanda-container">
    <div class="solar-qanda-body">
      <app-pt-accordion sectionHeader="Why do I need to enter my postcode?">
        <p>The geographical location of your house determines how much solar energy you can generate. For example, if you live in Cairns, your solar system will generate more energy each year than if you live in Tasmania. Our savings calculations and pay back times take this into account.
        </p>
      </app-pt-accordion>
      <app-pt-accordion sectionHeader="Why do I need to enter the number of people in my household?">
        <p>The more people who live in your house, the more energy you will use. Our calculations use modelling from the Australian Energy Regulator’s
          <a href="https://www.aer.gov.au/retail-markets/retail-guidelines-reviews/electricity-and-gas-bill-benchmarks-for-residential-customers-2017">Electricity and gas bill</a> benchmarks for residential customers 2017 to estimate your annual energy use based on the size and location of your household. </p>
      </app-pt-accordion>
      <app-pt-accordion sectionHeader="How does SolarQuotes vet solar installers?">
        <p>SolarQuotes works independently from CHOICE, and vets its own network of installers. Their due diligence includes checking the legitimacy of each business, the validity of their electrical contractors licence and that they have no Enforceable Undertakings with the Clean Energy Regulator.</p>
      </app-pt-accordion>
    </div>
  </div>
</div>
