@import "src/variables";

.query-form {
  text-align: center;
  padding: 2rem;
  .form-label {
    visibility: hidden;
  }

  .form-control {
    box-sizing: border-box;
    height: pxtorem(46px);
    max-width: pxtorem(371px);
    width: 100%;
    border: 1px solid $sc_grey_half;
    padding-left: 1rem;
    color: $sc_secondary;
    font-size: 1rem;

    &:active, &:focus {
      outline: none;
      border-bottom: $sc_link solid 4px;
      background-image: url(../../../assets/images/tick.svg);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: pxtorem(15px);
    }
  }

  .number-of-people {
    .form-control {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      background-image: url(../../../assets/images/image-gallery-chevron.png);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: pxtorem(15px);
    }
  }

  .form-control::placeholder {
    color: #002E46;
    font-size: 1rem;
  }



  .invalid-feedback {
    color: $fc_error;
    width: pxtorem(371px);
    margin: 0 auto;

    .error-message {
      display: flex;
      margin-left: pxtorem(5px);
    }
  }
}

@media screen and (max-width: 812px) {
  .query-form {
    .form-title {
      h1 {
        font-size: pxtorem(27px);
        line-height: pxtorem(30px);
      }

      h2 {
        font-size: pxtorem(20px);
        line-height: pxtorem(27px);
      }
    }
  }
}
