<div class="query-form" [ngClass]="{'no-results' : !(displayResults$ | async)}">
  <div class="pt-hero-section">
    <div class="pt-hero-img">
      <div class="pt-hero-img-bg"></div>
      <div class="bg-round"></div>
    </div>
  </div>
  <div class="pt-form-section">
    <div class="pt-form-title">
      <h1>Estimate my solar system</h1>
      <h2>Find out how much a solar system might cost you and what your savings might look like</h2>
    </div>
    <div class="pt-form-body">
      <form novalidate (ngSubmit)="submit()" [formGroup]="queryForm" autocomplete="off">
        <div class="pt-form-group post-code">
          <label class="pt-form-label"
                 for="postCodeId">Postcode</label>
          <div class="pt-form-control-wrapper">
            <input class="pt-form-control"
                   id="postCodeId"
                   type="number"
                   placeholder="Postcode (required)"
                   formControlName="postCode"
                   [ngClass]="{'is-invalid': (queryForm.get('postCode').touched ||
                                            queryForm.get('postCode').dirty) &&
                                            !queryForm.get('postCode').valid }"/>
            <div class="pt-invalid-feedback">
            <span class="pt-error-message" *ngIf="(queryForm.get('postCode').touched
            || queryForm.get('postCode').dirty)
            && queryForm.get('postCode').errors?.required">
              Please enter your postcode
            </span>
              <span class="pt-error-message" *ngIf="(queryForm.get('postCode').touched ||
                                            queryForm.get('postCode').dirty) && queryForm.get('postCode').errors?.pattern">
              Please input a valid Australian postcode
            </span>
            </div>
          </div>
        </div>
        <div class="pt-form-group number-of-people">
          <label class="pt-form-label"
                 for="numberOfPeople">Number of people</label>

          <div class="pt-form-control-wrapper">
            <select class="pt-form-control"
                    id="numberOfPeople"
                    formControlName="numberOfPeople" [ngClass]="{'is-invalid': (queryForm.get('numberOfPeople').touched ||
                                            queryForm.get('numberOfPeople').dirty) &&
                                            !queryForm.get('numberOfPeople').valid }">
              <option value=""
                      disabled
                      selected
                      hidden>Number of people in household
              </option>
              <option value=1>1 person</option>
              <option value=2>2 people</option>
              <option value=3>3 people</option>
              <option value=4>4 people</option>
              <option value=5>5 people or more</option>
            </select>
            <div class="pt-invalid-feedback">
            <span class="pt-error-message" *ngIf="(queryForm.get('numberOfPeople').touched ||
                                            queryForm.get('numberOfPeople').dirty) && queryForm.get('numberOfPeople').errors?.required">
              Please select number of people in the house hold
            </span>
            </div>
          </div>

        </div>
        <div class="pt-form-group pt-submit">
          <div class="pt-submit-wrapper">
            <button id="estimate-now" class="pt-submit-btn pt-primary-btn"
                    type="submit"
                    appGaClick = "Estimate now"
                    [title]="queryForm.valid ? 'Estimate now' : 'Disabled until the form data is valid'"
                    [disabled]="!queryForm.valid">
              Estimate now
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
