@import "src/variables";

.query-form {
  display: flex;
  padding:  4rem 2rem 0;
  background: #275B95;
  .hero-section {
    width: 50%;
    .hero-img {
      position: relative;
      height: pxtorem(416px);
      .hero-img-bg {position: absolute;
        height: 105%;
        width: 105%;
        top: 0;
        background-image: url(../../../assets/images/hero_img.png);
        background-repeat: no-repeat;
        background-position-x: 70%;
        background-size: contain;
      }
      .bg-round {
        height: 100%;
        background-image: url(../../../assets/images/bg_round-trans.png);
        background-repeat: no-repeat;
        background-position-x: 85%;
        background-size: auto;
      }
    }
  }
  .form-section {
    width: 50%;
    padding-top: 1rem;
    .form-title {
      h1, h2 {
        margin: 0;
        color: $sc_white;
      }
    }
    .form-label {
      visibility: hidden;
    }

    .form-control {
      box-sizing: border-box;
      height: pxtorem(46px);
      max-width: pxtorem(371px);
      width: 100%;
      border: 1px solid $sc_grey_half;
      padding-left: 1rem;
      color: $sc_secondary;
      font-size: 1rem;

      &.ng-valid {
        outline: none;
        background-image: url(../../../assets/images/tick.svg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: pxtorem(15px);
      }
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    .number-of-people {
      .form-control {
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-image: url(../../../assets/images/image-gallery-chevron.png);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: pxtorem(15px);
      }
    }

    .form-control::placeholder {
      color: #002E46;
      font-size: 1rem;
    }

    .invalid-feedback {
      color: #fff;
      width: pxtorem(371px);
      .error-message {
        display: flex;
        margin-left: pxtorem(5px);
      }
    }
  }

}

@media screen and (max-width: 812px) {
  .query-form {
    flex-direction: column;
    text-align: center;
    padding:  1rem;
    .hero-section {
      width: 100%;
      .hero-img {
        height: 12.5rem;
        .hero-img-bg {
          height: 100%;
          background-position: center;
        }
        .bg-round {
          height: 110%;
          background-size: contain;
          background-position: center;
        }
      }
    }
    .form-section {
      width: 100%;
    }
    .form-title {
      h1 {
        font-size: pxtorem(27px);
        line-height: pxtorem(30px);
        height: 4.5rem;
      }

      h2 {
        font-size: pxtorem(24px);
        line-height: pxtorem(31px);
        height: pxtorem(110px);
      }
    }
  }
}
