@import "src/variables";

.query-form {
  text-align: center;
  padding: 2rem;
  .form-label {
    visibility: hidden;
  }

  .form-control {
    box-sizing: border-box;
    height: 46px;
    max-width: 371px;
    width: 100%;
    border: 1px solid #979797;
    padding-left: 1rem;
    color: #002E46;
    font-size: 1rem;

    &:active, &:focus {
      outline: none;
      border-bottom: #0570B1 solid 4px;
      background-image: url(../../../assets/images/tick.svg);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 15px;
    }
  }

  .number-of-people {
    .form-control {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      background-image: url(../../../assets/images/image-gallery-chevron.png);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 15px;
    }
  }

  .form-control::placeholder {
    color: #002E46;
    font-size: 1rem;
  }



  .invalid-feedback {
    color: $fc_error;
    width: 371px;
    margin: 0 auto;

    .error-message {
      display: flex;
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 812px) {
  .query-form {
    .form-title {
      h1 {
        font-size: 27px;
        line-height: 30px;
      }

      h2 {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
}
