<div>
  <div class="query-form-container">
    <app-solar-query-form></app-solar-query-form>
  </div>
  <div class="se-body-container">
    <div *ngIf="(displayResults$ | async) && !(errorMessage$ | async)" [@expandCollapse]>
      <app-solar-query-results [numberOfPeople]="numberOfPeople$ | async" [postCode]="postCode$ | async"
                               [stateName]="stateName$ | async"></app-solar-query-results>
    </div>
    <app-solar-query-installer></app-solar-query-installer>
    <div class="pt-user-trstimonials-banner">
      <div class="pt-user-trstimonials-container">
        <app-user-testimonial userImageUrl="https://choice-solar.azureedge.net/assets/icons/user-icon1.png">
          <p>“Using <span>CHOICE’s solar estimator</span> I could clearly see that a past solar quote I received was
            really overpriced. I went on to get 3 competitive quotes through <span>SolarQuotes</span>. Now I have a new
            solar system installed on my roof.”</p>
          <div class="user-print">
            <span>Karen Smith</span>
            <div>Croydon, VIC</div>
          </div>
        </app-user-testimonial>
        <app-user-testimonial userImageUrl="https://choice-solar.azureedge.net/assets/icons/user-icon2.png">
          <p>“I was pretty happy with the whole process of getting my solar system beginning with <span>CHOICE</span>.
            The
            installer that quoted us through <span>SolarQuotes</span> was really thorough and provided all the
            information
            I needed to make a decision.”</p>
          <div class="user-print">
            <span>Elaine White</span>
            <div>Gilmore, ACT</div>
          </div>
        </app-user-testimonial>
      </div>
    </div>
    <app-solar-query-qanda></app-solar-query-qanda>
  </div>
</div>
<app-modal>
  <app-modal-content [modalContentId]="modalContentId$ | async"></app-modal-content>
</app-modal>
