<div>
  <div class="query-form-container">
    <app-solar-query-form></app-solar-query-form>
  </div>
  <div class="se-body-container">
    <div *ngIf="displayResults$ | async" [@expandCollapse] >
      <div>
        <app-solar-query-results [numberOfPeople]="numberOfPeople$ | async" [postCode]="postCode$ | async"
                                 [stateName]="stateName$ | async"></app-solar-query-results>
      </div>
      <div>

      </div>
    </div>
      <app-solar-query-installer [postCode]="postCode$ | async"></app-solar-query-installer>
  </div>
  <div class="pt-error-message" *ngIf="errorMessage$ | async as error">{{error}}</div>
</div>
<app-modal ><app-modal-content [modalContentId]="modalContentId$ | async"></app-modal-content></app-modal>
