@import "src/variables";

.solar-query-results-component {
  background-color: $bc_nav_grey;
  text-align: center;
  padding: 4rem 0;

  .results-header {
    h2 {
      .tooltip-toggle {
        display: inline-block;
        width: pxtorem(22px);
        height: pxtorem(22px);
        border-radius: 50%;
        background-image: url(../../../assets/images/help.svg);
        background-repeat: no-repeat;
      }
    }
  }

  .results-body {
    h3 {
      margin-bottom: 0;
    }

    p {
      margin: 0 auto;
      color: $sc_secondary;
      font-family: "Nunito Sans";
      font-size: pxtorem(19px);
      line-height: pxtorem(28px);
      max-width: pxtorem(532px);
    }

    .system-types {
      h4 {
        line-height: pxtorem(85px);
      }
    }
  }
}

@media screen and (max-width: 812px) {
  .solar-query-results-component {
    .results-header {
      h1 {
        font-size: pxtorem(27px);
        line-height: pxtorem(30px);
      }

      h2 {
        font-size: pxtorem(20px);
        line-height: pxtorem(27px);
      }
    }

    .results-body {
      .system-size {
        h3 {
          margin-top: 2rem;
        }
      }

      .pay-back {
        h4 {
          margin-top: 1rem;
        }
      }

      p {
        margin: 0 auto;
        color: $sc_secondary;
        font-family: "Nunito Sans";
        font-size: pxtorem(19px);
        line-height: pxtorem(28px);
        max-width: pxtorem(532px);
      }

      h4 {
        height: pxtorem(42px);
      }

      .system-types {
        h4 {
          line-height: pxtorem(42px);
        }
      }
    }

  }
}
