@import "src/variables";

.solar-query-results-component {
  background-color: $bc_nav_grey;
  text-align: center;
  padding:  4rem 2rem;
  .results-header {
    h2 {
      .tooltip-toggle {
        display: inline-block;
        width: pxtorem(22px);
        height: pxtorem(22px);
        border-radius: 50%;
        background-image: url(../../../assets/images/help.svg);
        background-repeat: no-repeat;
      }
    }
  }

  .results-body {
    .system-size, .pay-back, .potential-savings, .system-types {
      background: $sc_white;
      margin: 0 auto;
      max-width: pxtorem(700px);
      h3, h4 {
        line-height: 5rem;
      }
    }
    h3 {
      margin-bottom: 0;
    }

    p {
      margin: 0 auto;
      color: $sc_secondary;
      font-family: "Nunito Sans";
      font-size: pxtorem(19px);
      line-height: pxtorem(28px);
      max-width: pxtorem(532px);
    }

    .system-types {
      padding-bottom: 2rem;
      h4 {
        height: pxtorem(65px);
        line-height: pxtorem(65px);
      }
      p:first-of-type {
        line-height: 3.75rem;
      }
      p:nth-of-type(2) {
        font-style: italic;
        line-height: pxtorem(20px);
      }
    }
  }
}

@media screen and (max-width: 812px) {
  .solar-query-results-component {
    padding:  1rem;
    .results-header {
      h1 {
        font-size: pxtorem(22px);
        line-height: pxtorem(25px);
      }
      h2 {
        font-size: pxtorem(18px);
        line-height: pxtorem(24px);
      }
    }

    .results-body {
      .system-size, .pay-back, .potential-savings, .system-types {
        h3 {
          line-height: 1.5rem;
          font-size: 1.2rem;
          padding-top: 1rem;
        }
        h4 {
          line-height: 2rem;
          font-size: 1.8rem;
          padding-top: 1.5rem;
        }
      }
      .system-size {
        h4 {
          height: 3.3rem;
          padding-top: 1rem;
        }
      }
      .system-types {
        h4 {
          height: pxtorem(45px);
          line-height: pxtorem(45px);
          padding-top: 0;
        }
        p:first-of-type, p {
          font-size: 1rem;
        }
        p:nth-of-type(2) {
          padding: 1rem;
        }
      }
    }
  }
}
