<header class="pt-sg-header" role="banner">
  <div class="pt-header_constrained">
    <!--      Found my solar solution-->
    <div class="pt-header_info_item pt-header_info-item_choice_logo">
      <a href="https://www.choice.com.au/">
        <img src="https://choice-solar.azureedge.net/assets/images/choice-logo-print.png"
             class="pt-header__info-logo-img" alt="CHOICE logo">
      </a>
    </div>
    <div class="pt-header_info_item header_info-item_solar_quotes_logo">
      <a href="https://www.solarquotes.com.au/">
        <img src="https://choice-solar.azureedge.net/assets/images/sq_logo-footer.png"
             class="pt-header__info-logo-img" alt="Solar-quotes logo">
      </a>
    </div>
  </div>
</header>
