<div *ngIf="isModalOpen$ | async"
     [@inOutAnimation]>
  <div id="pt-modal-container" class="pt-modal-container">
    <button class="pt-modal-close-btn" (click)="removeModal()"><span>Close</span><img src="https://choice-solar.azureedge.net/assets/images/close.svg"
                                                                                   class="pt-choice-logo-img"
                                                                                   alt="CHOICE logo"></button>
    <div class="pt-modal-content">
      <ng-content></ng-content>
    </div>
  </div>
  <div (click)="removeModal()" class="pt-modal-overlay"></div>
</div>
