@import "src/variables";
.modal-container {
  position:  fixed;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
  background: $sc_white;
  border: solid 1px $sc_grey_7;
  margin: 0 auto;
  padding: 5rem 2rem;
  left: 5%;
  right: 5%;
  bottom: 15%;
  top: 15%;
  max-width: pxtorem(500px);
  overflow-y: auto;
  .modal-close-btn {
    position: absolute;
    right: pxtorem(12px);
    top: pxtorem(12px);
    border: none;
    background: none;
    cursor: pointer;
    width: pxtorem(30px);
    height: pxtorem(30px);
    color: #002e46;
    background-color: $bc_btn;
    span {
      position: absolute;
      left: -52px;
      top: 7px;
      font-size: 1rem;
    }
    img {
      position: absolute;
      right: 3px;
      top: 3px;
      width: pxtorem(24px);
      height: pxtorem(24px);
    }
  }
  .modal-title {
    h2 {
      height: 58px;
      color: #012D46;
      font-family: Roboto;
      font-size: 38px;
      font-weight: bold;
      line-height: 44px;
    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 99;
  overflow: hidden;
}

@media (min-width: 576px) {
  .modal-container {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .modal-container {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .modal-container {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .modal-container {
    width: 30%;
  }
}
