<div class="pt-accordions-container-component">
  <div *ngFor="let accordion of accordions; index as i">
    <app-pt-section [sectionId]="i"
                    [sectionContent]="accordion"
                    [defaultStatus]="accordion.defaultStatus"
                    [flipCounter]="flipCounter"
                    [activeSectionId]="activeSectionId" [multiOpen]="multipleOpen" (updateAccordion)="OnAccordionUpdate($event)">
      <div [innerHTML]="accordion.sectionBody"></div>
    </app-pt-section>
  </div>
</div>
