<p *ngIf="modalContentId === 're1'">Estimates are based on the Australian Energy Regulator <a target="_blank"
                                                                                              href="https://www.aer.gov.au/retail-markets/retail-guidelines-reviews/electricity-and-gas-bill-benchmarks-for-residential-customers-2017">Electricity
  and gas bill
  benchmarks for residential customers 2017</a> and the Australian Energy Market Commission <a target="_blank"
                                                                                               href="https://www.aemc.gov.au/market-reviews-advice/residential-electricity-price-trends-2019">Residential
  Electricity
  Price Trends 2019.</a></p>
<p *ngIf="modalContentId === 're2'">This capacity should easily offset the typical average usage of your household and
  assumes you have the available roof space to accommodate a system of this size.</p>
<p *ngIf="modalContentId === 're3'">Our calculation assumes that you have a north facing rooftop with no tree shading
  and that you consume 25% of the solar energy you generate.
  We have estimated pay back times using Solar Quote’s <a target="_blank"
                                                          href="https://www.solarquotes.com.au/solar-calculator/">Solar
    Power Calculator</a>. We have utilised average electricity pricing from the Australian Energy Market Commission
  <a target="_blank" href="https://www.aemc.gov.au/market-reviews-advice/residential-electricity-price-trends-2019">Residential
    Electricity Price Trends 2019</a> and solar feed-in-tariffs for each state region based on CHOICE’s
  <a target="_blank"
     href="https://www.choice.com.au/home-improvement/energy-saving/solar/articles/solar-panel-payback-times">Solar
    Panel Payback Times</a> resource.</p>
<p *ngIf="modalContentId === 're4'">We have estimated savings using Solar Quote’s <a target="_blank"
                                                                                     href="https://www.solarquotes.com.au/solar-calculator/">Solar
  Power Calculator</a> utilising average electricity from the Australian Energy Market Commission <a target="_blank"
                                                                                                     href="https://www.aemc.gov.au/market-reviews-advice/residential-electricity-price-trends-2019">Residential
  Electricity Price Trends 2019</a> and solar feed-in-tariffs for each state region based on CHOICE’s <a target="_blank"
                                                                                                         href="https://www.choice.com.au/home-improvement/energy-saving/solar/articles/solar-panel-payback-times">Solar
  Panel Payback Times</a> resource. </p>
<p *ngIf="modalContentId === 're5'">Approximate cost of a good quality solar system installation with Tier 1 solar
  panels (fully installed) identified by Solar Quotes in January 2020. Prices include ‘point of sale’ discount from the
  federal solar rebate. They do not include state level rebate offered by the Victoria Government where a further level
  of rebate may be available.</p>
