<p *ngIf="modalContentId === 're1'">This estimate of your energy usage is based on the Australian Energy Regulator <a target="_blank"
                                                                                              href="https://www.aer.gov.au/retail-markets/retail-guidelines-reviews/electricity-and-gas-bill-benchmarks-for-residential-customers-2017">Electricity
  and gas bill
  benchmarks for residential customers 2017</a> and the Australian Energy Market Commission <a target="_blank"
                                                                                               href="https://www.aemc.gov.au/market-reviews-advice/residential-electricity-price-trends-2019">Residential
  Electricity
  Price Trends 2019</a>.</p>
<p *ngIf="modalContentId === 're2'">The size of a solar photovoltaic system is the maximum electricity output it can deliver. We estimate a system of this size should easily offset the typical average energy usage of your household. This estimate assumes you have adequate roof space to install a system of this size.</p>
<div *ngIf="modalContentId === 're3'">
  <p>This calculation estimates the period of time it will take you to completely pay off your solar system based on the energy savings you make in your home and the income you earn from feeding excess energy back to the grid.</p>
  <p>Our calculation assumes that you have a north facing rooftop with no tree shading and that you consume 25% of the solar energy you generate.</p>
  <p >We have estimated pay back times with Solar Quote’s <a target="_blank"
                                                          href="https://www.solarquotes.com.au/solar-calculator/">Solar
    Power Calculator</a> using average electricity pricing from the Australian Energy Market Commission <a target="_blank" href="https://www.aemc.gov.au/market-reviews-advice/residential-electricity-price-trends-2019">Residential
    Electricity Price Trends 2019</a> and solar feed-in-tariffs for each state region based on CHOICE’s
  <a target="_blank"
     href="https://www.choice.com.au/home-improvement/energy-saving/solar/articles/solar-panel-payback-times">Solar
    Panel Payback Times</a> resource.</p>
</div>
<p *ngIf="modalContentId === 're4'">This estimate of savings has been achieved with Solar Quote’s <a target="_blank"
                                                                                     href="https://www.solarquotes.com.au/solar-calculator/">Solar
  Power Calculator</a> using average electricity from the Australian Energy Market Commission <a target="_blank"
                                                                                                     href="https://www.aemc.gov.au/market-reviews-advice/residential-electricity-price-trends-2019">Residential
  Electricity Price Trends 2019</a> and solar feed-in-tariffs for each state region based on CHOICE’s <a target="_blank"
                                                                                                         href="https://www.choice.com.au/home-improvement/energy-saving/solar/articles/solar-panel-payback-times">Solar
  Panel Payback Times</a> resource. </p>
<div *ngIf="modalContentId === 're5'">
  <p>This is the approximate total cost of a good quality solar system, fully installed using Tier 1 solar panels (source:
    <a target="_blank" href="https://www.solarquotes.com.au/panels/cost/">Solar Quotes</a>, January 2020).</p>
  <p>Prices include ‘point of sale’ discount from the federal solar rebate. They do not include state level rebate offered by the Victoria Government where a further level of rebate may be available.
  </p>
  <p>A more accurate estimate of the costs of installing a solar system on your house can be obtained by requesting a quote.
  </p>
</div>
