.pt-l-constrained {
  padding: .625em;
  max-width: 64em;
  margin: 0 auto;
  position: relative;
}
.pt-l-constrained-narrow {
  margin: 0 auto;
  max-width: 47.5em;

  h2 {
    display: block;
    margin: .625em 0;
    color: white;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
    font-size: 2.25em;
    letter-spacing: normal;
  }
  p {
    color: white;
    margin: .625em 0;
    font-weight: normal;
    line-height: 1.5em;
    a {
      color: white;
    }
  }
}
@media screen and (min-width: 768px) {
  .pt-article-container {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
.pt-article-container {
  position: relative;
  padding: .625em;
}
.pt-article-section-generalcontent-header {
  text-align: left;
}
