@import "src/variables";
.solar-installer-component {
  text-align: center;
  padding: 4rem 0;
  .solar-installer-container {
    display: flex;
    flex-direction: column;
  }
  .solar-installer-title {
    h1 {
      color: $sc_white;
    }
  }
  .solar-installer-body {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    .solar-installer-body-item {
      width: 20%;
      .item-icon {
        background-repeat: no-repeat;
        height: pxtorem(195px);
        background-position: center;
        &.item1 {
          background-image: url(../../../assets/images/valueprop1.png);
        }
        &.item2 {
          background-image: url(../../../assets/images/valueprop2.png);
        }
        &.item3 {
          background-image: url(../../../assets/images/valueprop3.png);
        }
      }
      .item-text {
        padding-top: 2rem;
        color: $sc_white;
        font-family: "Nunito Sans";
        font-size: pxtorem(22px);
        font-weight: bold;
        line-height: pxtorem(28px);
      }

    }
  }
  .solar-installer-btn {
    padding-top: 2rem;
    .primary-btn {
      background-image: url(../../../assets/images/external-link.svg);
      background-repeat: no-repeat;
      background-position-x: 85%;
      background-position-y: pxtorem(24px);
      a {
        text-decoration: none;
        color: $sc_white;
      }
      span {
        margin-left: pxtorem(-30px);
      }
    }
  }
}
@media screen and (max-width: 812px) {
  .solar-installer-component {
    padding:  1rem;
    h1 {
      font-size: pxtorem(30px);
      line-height: pxtorem(35px);
    }
    h2 {
      font-size: pxtorem(20px);
      line-height: pxtorem(27px);
    }
    .solar-installer-body {
      flex-direction: column;
      order: 2;
      .solar-installer-body-item {
        width: 100%;
        .item-text {
          padding-top: 0.5rem;
          padding-bottom: 3rem;
          color: $sc_white;
          font-family: "Nunito Sans";
          font-size: pxtorem(22px);
          font-weight: bold;
          line-height: pxtorem(28px);
        }
      }
    }
    .solar-installer-btn {
      padding-top: 3rem;
      //margin-top: pxtorem(45px);
    }
  }
}
