<div class="solar-installer-component">
  <div class="solar-installer-title">
    <h1>Ready for the next step?<br>Find a solar installer you can trust</h1>
  </div>
  <div class="solar-installer-body">
    <div class="solar-installer-body-item">
      <div class="item1 item-icon"></div>
      <div class="item-text">Over 40,000 customer reviews of 2,065 solar installation companies</div>

    </div>
    <div class="solar-installer-body-item">
      <div class="item2 item-icon"></div>
      <div class="item-text">No promoted or sponsored solar installers</div>
    </div>
    <div class="solar-installer-body-item">
      <div class="item3 item-icon"></div>
      <div class="item-text">Solar installers are personally vetted by an expert</div>
    </div>
  </div>
  <div class="solar-installer-btn">
    <button class="primary-btn">Find a solar installer</button>
  </div>
</div>
