<div class="solar-installer-component">
  <div class="solar-installer-title">
    <h1>Ready for the next step?<br>Find a solar installer you can trust</h1>
  </div>
  <div class="solar-installer-container">
    <div class="solar-installer-body">
      <div class="solar-installer-body-item">
        <div class="item1 item-icon"></div>
        <div class="item-text">Over 40,000 customer reviews of 2,065 solar installation companies</div>
      </div>
      <div class="solar-installer-body-item">
        <div class="item2 item-icon"></div>
        <div class="item-text">Get 3 competitive quotes for quality solar from pre-vetted local installers</div>
      </div>
      <div class="solar-installer-body-item">
        <div class="item3 item-icon"></div>
        <div class="item-text">Uncensored reviews from actual customers 12 months post-install</div>
      </div>
    </div>
    <div class="solar-installer-btn">
      <button id="find-installer" appGaClick = "Find a solar installer" class="pt-primary-btn" ><a [href]="findSolarInstaller()"><span>Find a solar installer</span></a></button>
    </div>
  </div>
</div>
