<div class="solar-installer-component">
  <div class="solar-installer-title">
    <h1>Ready for the next step?<br>Find a solar installer you can trust</h1>
  </div>
  <div class="solar-installer-container">
    <div class="solar-installer-body">
      <div class="solar-installer-body-item">
        <div class="item1 item-icon"></div>
        <div class="item-text">Since 2009, SolarQuotes has helped over 421,000 Australians get high quality solar
          quotes.
        </div>

      </div>
      <div class="solar-installer-body-item">
        <div class="item2 item-icon"></div>
        <div class="item-text">Get up to 3 competitive quotes for quality solar from pre-vetted local installers.</div>
      </div>
      <div class="solar-installer-body-item">
        <div class="item3 item-icon"></div>
        <div class="item-text">Uncensored reviews from actual customers. Followed up 12 months post install.</div>
      </div>
    </div>
    <div class="solar-installer-btn">
      <button class="primary-btn" ><a [href]="findSolarInstaller()"><span>Find a solar installer</span></a></button>
    </div>
  </div>
</div>
