/* You can add global styles to this file, and also import other style files */
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?display=swap&family=Roboto:400,700,900');

html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: $basepx;
  h1 {
    margin-top: 0;
    height: pxtorem(48px);
    color: $sc_secondary;
    font-family: Roboto;
    font-size: pxtorem(38px);
    font-weight: 900;
    line-height: pxtorem(44px);
  }

  h2, h4 {
    height: pxtorem(85px);
    color: $sc_secondary;
    max-width: pxtorem(680px);
    margin: 0 auto;
    font-family: "Nunito Sans";
    font-size: pxtorem(26px);
    font-weight: normal;
    line-height: pxtorem(32px);
  }
  h3 {
    height: pxtorem(45px);
    color: $sc_secondary;
    font-family: "Nunito Sans";
    font-size: pxtorem(22px);
    font-weight: 700;
    line-height: pxtorem(28px);
  }
}
app-solar-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .primary-btn {
    margin-top: pxtorem(21px);
    height: pxtorem(64px);
    max-width: pxtorem(371px);
    width: 100%;
    background-color: $bc_btn;
    color: $sc_white;
    font-family: "Nunito Sans";
    font-size: pxtorem(22px);
    font-weight: 900;
    line-height: pxtorem(26px);
    text-align: center;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: $bc_btn_d;
    }
  }
}
app-solar-root > div {
  height: 100%;
}
.fix-height {
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
}
.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px -1px 0 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media all and (max-width: 44em) {

}
