/* You can add global styles to this file, and also import other style files */
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?display=swap&family=Roboto:400,700,900');

html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: $basepx;
  h1 {
    margin-top: 0;
    color: $sc_secondary;
    font-family: Roboto;
    font-size: pxtorem(38px);
    font-weight: 900;
    line-height: pxtorem(44px);
  }

  h2, h4 {
    color: $sc_secondary;
    max-width: pxtorem(680px);
    margin: 0 auto;
    font-family: "Nunito Sans";
    font-size: pxtorem(26px);
    font-weight: normal;
    line-height: pxtorem(32px);
  }
  h3 {
    color: $sc_secondary;
    font-family: "Nunito Sans";
    font-size: pxtorem(22px);
    font-weight: 700;
    line-height: pxtorem(28px);
  }

}
app-solar-root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .pt-primary-btn {
    margin-top: pxtorem(21px);
    height: pxtorem(64px);
    max-width: pxtorem(371px);
    width: 100%;
    background-color: $bc_btn;
    color: $sc_black;
    font-family: "Nunito Sans";
    font-size: pxtorem(22px);
    font-weight: bold;
    line-height: pxtorem(26px);
    text-align: center;
    cursor: pointer;
    border: none;
    &:hover, &:focus {
      background-color: $bc_btn_d;
      color: $sc_white;
    }
  }
}
app-solar-root > div {
  height: 100%;
}
.pt-fix-height {
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
}
.pt-vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px -1px 0 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// spinner

#loader {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 0;
  width: 60px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 50px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: $sc_secondary none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: -50px;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
